*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    height:500px;
    width:1000px;
    background-color: hsl(245, 95%, 7%);
    border-radius: 8px;
}

#t1{
    font-size:45px;
    margin-top:50px;
    
}