
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2ebf91, #1e3c72);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .card {
    background: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
  }


  .card h2 {
    margin: 10px 0 5px;
  }

  .card p {
    color: gray;
    margin: 0;
  }